<template>
    <div class="mod_part">
        <div class="header">
            <h2>{{title}}</h2>
        </div>

        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'ModPart',
        props: {
            title: {
                type: String
            }
        }
    }
</script>