<template>
    <footer>
        <div class="footer_copyright">

            <p>
                <a href="#">关于我们</a> |
                <a href="#">About Us</a> |
                <a href="#">服务条款</a> |
                <a href="#">用户服务协议</a> |
                <a href="#">隐私政策</a> |
                <a href="#" >权利声明</a> |
                <a href="#">广告服务</a>
            </p>

            <p>
                Copyright &copy; 0000 - 2019 Music. <a href="#" >All Rights Reserved.</a>
            </p>
            <p>
                xxxx <a href="#">版权所有</a> <a href="#">腾讯网络文化经营许可证</a>
            </p>
        </div>
    </footer>
</template>

<script>
    import '@/assets/css/components/footer.css';

    export default {
        name: 'MusicFooter'
    }
</script>