<template>
    <header class="clear">
        <h1>
            <a href="/"></a>
        </h1>
        <div class="header_user">

            <div class="hide user">
                <a href="">username</a>
                <span> | </span>
                <a href="/logout">退出</a>
            </div>

            <div class="register_login">
                <router-link :to="{name: 'Login'}">登录</router-link>
                <span> | </span>
                <router-link :to="{name: 'Register'}">注册</router-link>
            </div>

        </div>
    </header>
</template>

<script>
    import '@/assets/css/components/header.css';

    export default {
        name: 'MusicHeader'
    }
</script>