<template>
    <div class="pages">

        <a href="/page-1" class="prev"> &lt; </a>

        <a href="/n+1" class="current"><strong>1</strong></a>
        <a href="/n+1">2</a>
        <a href="/n+1">3</a>
        <a href="/n+1">4</a>

        <a href="/page+1" class="next"> &gt; </a>

    </div>
</template>

<script>
    import '@/assets/css/components/page.css';

    export default {
        name: 'Page'
    }
</script>