body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #31c27c;
}
img {
    border: 0;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
    zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text_left {
    text-align: left;
}
.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}
.msg {
    line-height: 40px;
}
.msg.success {
    color: #31c27c;
}
.msg.error {
    color: #ff5b5b;
}
.show {
    display: block;
}
.hide {
    display: none;
}

header {
    margin: 10px auto 0;
    width: 1200px;
    height: 80px;
}
header h1 {
    float: left;
    margin: 0;
    width: 100px;
    height: 80px;
    line-height: 80px;
}
header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.header_user {
    float: right;
    line-height: 80px;
}

.main {
    margin: 20px auto;
    width: 1200px;
}

.pages {
    text-align: center;
}
.pages a {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    padding: 0 21px;
    box-sizing: border-box;
    min-width: 24px;
    color: #a2a2a2;
}
.pages a:hover, .pages a.current {
    color: #fff;
    background-color: #31c27c;
}
.pages a.current {
    cursor: default;
}

.mod_part {
    position: relative;
    margin-bottom: 30px;
}
.mod_part .header {
    overflow: hidden;
    height: 60px;
}
.mod_part .header h2{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
}
.mod_part .header a.more{
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 14px;
}

footer {
    padding: 40px 0;
    color: #999;
    background-color: #333;
}
.footer_copyright {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.footer_copyright a {
    color: #999;
}
.footer_copyright a:hover {
    color: #31c27c;
}