
.song_list .songlist_number {
    width: 2%;
}
.song_list .songlist_name {
    width: 45%;
}
.song_list .songlist_album {
    width: 45%;
}
.song_list .songlist_time {
    width: 8%;
}


.songlist_header {
    background-color: #fbfbfd;
    height: 50px;
    line-height: 50px;
    color: #999;
}
.songlist_header li {
    float: left;
}

.songlist_list li {
    height: 50px;
    line-height: 50px;
}
.songlist_list li:nth-child(even) {
    background-color: #fbfbfd;
}
.songlist_list li div {
    float: left;
}

.songlist_list .songlist_name {
    position: relative;
}
.songlist_list .songlist_name .tools {
    position: absolute;
    top: 0;
    right: 10px;
    display: none;
}
.tools {
    height: 50px;
}
.tools .tools_item {
    margin: 7px 0 0 7px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("../images/icon_list_menu.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.tools .tools_item.tools_play {
    background-position: 0 0;
}
.tools .tools_item.tools_play:hover {
    background-position: -40px 0;
}

.tools .tools_item.tools_add {
    background-position: 0 -80px;
}
.tools .tools_item.tools_add:hover {
    background-position: -40px -80px;
}

.tools .tools_item.tools_down {
    background-position: 0 -160px;
}
.tools .tools_item.tools_down:hover {
    background-position: -40px -160px;
}

.tools .tools_item.tools_share {
    background-position: 0 -240px;
}
.tools .tools_item.tools_share:hover {
    background-position: -40px -240px;
}

.songlist_list .songlist_name:hover .tools {
    display: block;
}