<template>
    <div id="app">

        <music-header></music-header>

        <div class="main">
            <router-view></router-view>
        </div>

        <music-footer></music-footer>
    </div>
</template>

<script>

    import MusicHeader from '@/components/MusicHeader.vue';
    import MusicFooter from '@/components/MusicFooter.vue';

    export default {
        name: "App",
        components: {
            MusicHeader,
            MusicFooter
        }
    }

</script>