footer {
    padding: 40px 0;
    color: #999;
    background-color: #333;
}
.footer_copyright {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.footer_copyright a {
    color: #999;
}
.footer_copyright a:hover {
    color: #31c27c;
}