header {
    margin: 10px auto 0;
    width: 1200px;
    height: 80px;
}
header h1 {
    float: left;
    margin: 0;
    width: 100px;
    height: 80px;
    line-height: 80px;
}
header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.header_user {
    float: right;
    line-height: 80px;
}