.mod_part {
    position: relative;
    margin-bottom: 30px;
}
.mod_part .header {
    overflow: hidden;
    height: 60px;
}
.mod_part .header h2{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
}
.mod_part .header a.more{
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 14px;
}