.pages {
    text-align: center;
}
.pages a {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    padding: 0 21px;
    box-sizing: border-box;
    min-width: 24px;
    color: #a2a2a2;
}
.pages a:hover, .pages a.current {
    color: #fff;
    background-color: #31c27c;
}
.pages a.current {
    cursor: default;
}