body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #31c27c;
}
img {
    border: 0;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
    zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text_left {
    text-align: left;
}
.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}
.msg {
    line-height: 40px;
}
.msg.success {
    color: #31c27c;
}
.msg.error {
    color: #ff5b5b;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.main {
    margin: 20px auto;
    width: 1200px;
}