<template>
    <div>

        <mod-part title="XXX - 专辑列表">
            <ul class="album_list">

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">album.name</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>album.pubTime</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">album.name</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>album.pubTime</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">album.name</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>album.pubTime</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">album.name</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>album.pubTime</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">{{album.name</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>album.pubTime</span>
                        </div>
                    </div>
                </li>

            </ul>
        </mod-part>

        <page></page>

    </div>
</template>

<script>
    import '@/assets/css/album.css';

    import Page from '@/components/Page';
    import ModPart from '@/components/ModPart';

    export default {
        name: 'Albums',
        components: {
            ModPart,
            Page
        }
    }
</script>