<template>
    <div>

        <div class="singer_list">
            <ul class="clear">
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
                <li class="singer_list_item">
                    <div class="singer_list_item_box">
                        <a href="/detail/">
                            <img src="" />
                        </a>
                        <h3>
                            <a href="/detail/">singer.name</a>
                        </h3>
                    </div>
                </li>
            </ul>
        </div>

        <page></page>

    </div>
</template>

<script>
    import '@/assets/css/index.css';

    import Page from '@/components/Page';

    export default {
        name: 'Home',
        components: {
            Page
        }
    }
</script>
