<template>
    <div class="form">

        <div class="header">
            <h2>
                <router-link :to="{name: 'Register'}">注册</router-link>
            </h2>
            <h2 class="active">登陆</h2>
        </div>

        <div class="content">
            <form action="/login" method="POST">
                <div class="input_row">
                    <input type="text" name="username" placeholder="用户名" />
                </div>
                <div class="input_row">
                    <input type="password" name="password" placeholder="密码" />
                </div>
                <div class="input_row">
                    <button class="btn info">立即登录</button>
                </div>
            </form>
        </div>

    </div>
</template>

<script>
    import '@/assets/css/register_login.css';
    import '@/assets/css/form.css';

    export default {
        name: 'Login'
    }

</script>