<template>
    <div class="form">

        <div class="header">
            <h2 class="active">注册</h2>
            <h2>
                <router-link :to="{name: 'Login'}">登录</router-link>
            </h2>
        </div>

        <div class="content">
            <form action="/login" method="POST">
                <div class="input_row">
                    <input type="text" name="username" placeholder="用户名" />
                </div>
                <div class="input_row">
                    <input type="password" name="password" placeholder="密码" />
                </div>
                <div class="input_row">
                    <input type="password" name="repassword" placeholder="重复密码" />
                </div>
                <div class="input_row">
                    <button class="btn info">立即注册</button>
                </div>
            </form>
        </div>

    </div>
</template>

<script>
    import '@/assets/css/register_login.css';
    import '@/assets/css/form.css';

    export default {
        name: 'Register'
    }

</script>