<template>
    <div>

        <div class="detail_header">
            <a href="" class="detail_cover">
                <img src="" />
            </a>

            <div class="detail_con">
                <h1>singer.name</h1>
                <div class="detail_desc">
                    <span>中文名：basic['中文名']</span>
                    <span> / </span>
                    <span>国籍：basic['国籍']</span>
                    <span> / </span>
                    <span>出生地：basic['出生地：']</span>
                    <span> / </span>
                    <span>职业：basic['职业：']</span>
                    <span>[<a href="">更多</a>]</span>
                </div>
                <div class="detail_statistic">
                    <a href="">
                        <span>单曲</span>
                        <strong>songsCount</strong>
                    </a>
                    <a href="">
                        <span>专辑</span>
                        <strong>albumsCount</strong>
                    </a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import '@/assets/css/singer.css';

    export default {
        name: 'Singer',
        components: {
        }
    }
</script>
