<template>
    <div>

        <mod-part title="XXX - 歌曲列表">
            <div class="song_list">
                <ul class="songlist_header">
                    <li class="songlist_number">&nbsp;</li>
                    <li class="songlist_name">歌曲</li>
                    <li class="songlist_album">专辑</li>
                    <li class="songlist_time">时长</li>
                </ul>
                <ul class="songlist_list">

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">song.name</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>song.interval</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">song.name</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>song.interval</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">song.name</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>song.interval</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">song.name</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>song.interval</span>
                        </div>
                    </li>

                </ul>
            </div>
        </mod-part>

        <page></page>

    </div>
</template>

<script>
    import '@/assets/css/song.css';

    import ModPart from '@/components/ModPart';
    import Page from '@/components/Page';

    export default {
        name: 'Songs',
        components: {
            ModPart,
            Page
        }
    }
</script>
