<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Music</title>
        <link rel="stylesheet" href="../public/css/base.css" />
        <link rel="stylesheet" href="../public/css/index.css" />
    </head>

    <body>
        <header class="clear">
            <h1>
                <a href="/"></a>
            </h1>
            <div class="header_user">

                <div class="hide user">
                    <a href="">{{username}}</a>
                    <span> | </span>
                    <a href="/logout">退出</a>
                </div>

                <div class="register_login">
                    <a href="/login">登录</a>
                    <span> | </span>
                    <a href="/register">注册</a>
                </div>

            </div>
        </header>

        <div class="main">

            <div class="singer_list">
                <ul class="clear">
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                    <li class="singer_list_item">
                        <div class="singer_list_item_box">
                            <a href="/detail/{{singer.id}}">
                                <img src="../public/photos/singers/T001R150x150M000000aHmbL2aPXWH.jpg" />
                            </a>
                            <h3>
                                <a href="/detail/{{singer.id}}">{{singer.name}}</a>
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="pages">

                <a href="/{{page-1}}" class="prev"> &lt; </a>

                <a href="/{{n+1}}" class="current"><strong>1</strong></a>
                <a href="/{{n+1}}">2</a>
                <a href="/{{n+1}}">3</a>
                <a href="/{{n+1}}">4</a>

                <a href="/{{page+1}}" class="next"> &gt; </a>

            </div>

        </div>

        <footer>
            <div class="footer_copyright">

                <p>
                    <a href="#">关于我们</a> |
                    <a href="#">About Us</a> |
                    <a href="#">服务条款</a> |
                    <a href="#">用户服务协议</a> |
                    <a href="#">隐私政策</a> |
                    <a href="#" >权利声明</a> |
                    <a href="#">广告服务</a>
                </p>
                
                <p>
                    Copyright &copy; 0000 - 2019 Music. <a href="#" >All Rights Reserved.</a>
                </p>
                <p>
                    xxxx <a href="#">版权所有</a> <a href="#">腾讯网络文化经营许可证</a>
                </p>
            </div>
        </footer>
    </body>
</html>