<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Music</title>
        <link rel="stylesheet" href="../public/css/base.css" />
        <link rel="stylesheet" href="../public/css/register_login.css" />
        <link rel="stylesheet" href="../public/css/form.css" />
    </head>

    <body>
        <header class="clear">
            <h1>
                <a href="/"></a>
            </h1>
            <div class="header_user">

                <div class="hide user">
                    <a href="">{{username}}</a>
                    <span> | </span>
                    <a href="/logout">退出</a>
                </div>

                <div class="register_login">
                    <a href="/login">登录</a>
                    <span> | </span>
                    <a href="/register">注册</a>
                </div>

            </div>
        </header>

        <div class="main">

            <div class="form">
                
                <div class="header">
                    <h2 class="active"><a href="/register">注册</a></h2>
                    <h2>登陆</h2>
                </div>

                <div class="content">
                    <form action="/login" method="POST">
                        <div class="input_row">
                            <input type="text" name="username" placeholder="用户名" />
                        </div>
                        <div class="input_row">
                            <input type="password" name="password" placeholder="密码" />
                        </div>
                        <div class="input_row">
                            <input type="password" name="repassword" placeholder="重复密码" />
                        </div>
                        <div class="input_row">
                            <button class="btn info">立即注册</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </body>
</html>