<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
    <link rel="stylesheet" href="../public/css/base.css" />
    <link rel="stylesheet" href="../public/css/singer.css" />
    <link rel="stylesheet" href="../public/css/song.css" />
    <link rel="stylesheet" href="../public/css/album.css" />
    <link rel="stylesheet" href="../public/css/form.css" />
    <link rel="stylesheet" href="../public/css/comment.css" />
</head>

<body>
    <header class="clear">
        <h1>
            <a href="/"></a>
        </h1>
        <div class="header_user">

            <div class="hide user">
                <a href="">{{username}}</a>
                <span> | </span>
                <a href="/logout">退出</a>
            </div>

            <div class="register_login">
                <a href="/login">登录</a>
                <span> | </span>
                <a href="/register">注册</a>
            </div>

        </div>
    </header>

    <div class="main">

        <div class="detail_header">
            <a href="" class="detail_cover">
                <img src="../public/photos/singers/T001R150x150M000000CK5xN3yZDJt.jpg" />
            </a>

            <div class="detail_con">
                <h1>{{singer.name}}</h1>
                <div class="detail_desc">
                    <span>中文名：{{basic['中文名']}}</span>
                    <span> / </span>
                    <span>国籍：{{basic['国籍']}}</span>
                    <span> / </span>
                    <span>出生地：{{basic['出生地：']}}</span>
                    <span> / </span>
                    <span>职业：{{basic['职业：']}}</span>
                    <span>[<a href="">更多</a>]</span>
                </div>
                <div class="detail_statistic">
                    <a href="">
                        <span>单曲</span>
                        <strong>{{songsCount}}</strong>
                    </a>
                    <a href="">
                        <span>专辑</span>
                        <strong>{{albumsCount}}</strong>
                    </a>
                </div>
            </div>
        </div>

        <!-- 热门歌曲 -start -->
        <div class="mod_part">
            <div class="header">
                <h2>热门歌曲</h2>
                <a href="" class="more">全部 &gt;</a>
            </div>

            <div class="song_list">
                <ul class="songlist_header">
                    <li class="songlist_number">&nbsp;</li>
                    <li class="songlist_name">歌曲</li>
                    <li class="songlist_album">专辑</li>
                    <li class="songlist_time">时长</li>
                </ul>
                <ul class="songlist_list">

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 热门歌曲 -end -->

        <!-- 专辑 -start -->
        <div class="mod_part">
            <div class="header">
                <h2>专辑</h2>
                <a href="" class="more">全部 &gt;</a>
            </div>

            <ul class="album_list">

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="../public/photos/albums/T002R150x150M000000aIOJr2oKufl.jpg" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">{{album.name}}</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>{{album.pubTime}}</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="../public/photos/albums/T002R150x150M000000aIOJr2oKufl.jpg" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">{{album.name}}</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>{{album.pubTime}}</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="../public/photos/albums/T002R150x150M000000aIOJr2oKufl.jpg" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">{{album.name}}</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>{{album.pubTime}}</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="../public/photos/albums/T002R150x150M000000aIOJr2oKufl.jpg" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">{{album.name}}</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>{{album.pubTime}}</span>
                        </div>
                    </div>
                </li>

                <li class="playlist_item">
                    <div class="playlist_item_box">
                        <div class="playlist_item_cover">
                            <a href="">
                                <img src="../public/photos/albums/T002R150x150M000000aIOJr2oKufl.jpg" />
                            </a>
                        </div>
                        <h4 class="playlist_item_title">
                            <a href="">{{album.name}}</a>
                        </h4>
                        <div class="playlist_item_date">
                            <span>{{album.pubTime}}</span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- 专辑 -end -->

        <!-- 评论 -start -->
        <div class="mod_part">
            <div class="header">
                <h2>
                    评论
                    <span>共 121 条评论</span>
                </h2>
            </div>

            <div class="form">
                <form id="comment_form" method="POST" enctype="application/x-www-form-urlencoded" action="/comment">
                    <div>
                        <textarea name="content" placeholder="期待您的神评论……"></textarea>
                    </div>
                    <div class="text_right">
                        <button class="btn success comment_btn">提交</button>
                    </div>
                </form>
            </div>

            <!-- 评论列表 -start -->
            <ul class="comment_list">

                <li>
                    <h4>zMouse</h4>
                    <p>一直单曲循环，而你依然美得让我窒息，我好想你</p>
                    <div class="clear">
                        <div class="fl date">2018年12月28日 18:55</div>
                        <div class="fr">
                            顶 （100）
                        </div>
                    </div>
                </li>

                <li>
                    <h4>zMouse</h4>
                    <p>一直单曲循环，而你依然美得让我窒息，我好想你</p>
                    <div class="clear">
                        <div class="fl date">2018年12月28日 18:55</div>
                        <div class="fr">
                            顶 （100）
                        </div>
                    </div>
                </li>

                <li>
                    <h4>zMouse</h4>
                    <p>一直单曲循环，而你依然美得让我窒息，我好想你</p>
                    <div class="clear">
                        <div class="fl date">2018年12月28日 18:55</div>
                        <div class="fr">
                            顶 （100）
                        </div>
                    </div>
                </li>

                <li>
                    <h4>zMouse</h4>
                    <p>一直单曲循环，而你依然美得让我窒息，我好想你</p>
                    <div class="clear">
                        <div class="fl date">2018年12月28日 18:55</div>
                        <div class="fr">
                            顶 （100）
                        </div>
                    </div>
                </li>

            </ul>

            <!-- 评论列表 - start -->
            <div class="pages">

                <a href="/{{page-1}}" class="prev"> &lt; </a>

                <a href="/{{n+1}}" class="current">
                    <strong>1</strong>
                </a>
                <a href="/{{n+1}}">2</a>
                <a href="/{{n+1}}">3</a>
                <a href="/{{n+1}}">4</a>

                <a href="/{{page+1}}" class="next"> &gt; </a>

            </div>
            <!-- 评论列表 -end -->
        </div>
        

    </div>

    <footer>
        <div class="footer_copyright">

            <p>
                <a href="#">关于我们</a> |
                <a href="#">About Us</a> |
                <a href="#">服务条款</a> |
                <a href="#">用户服务协议</a> |
                <a href="#">隐私政策</a> |
                <a href="#">权利声明</a> |
                <a href="#">广告服务</a>
            </p>

            <p>
                Copyright &copy; 0000 - 2019 Music. <a href="#">All Rights Reserved.</a>
            </p>
            <p>
                xxxx <a href="#">版权所有</a> <a href="#">腾讯网络文化经营许可证</a>
            </p>
        </div>
    </footer>
</body>

</html>