<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
    <link rel="stylesheet" href="../public/css/base.css" />
    <link rel="stylesheet" href="../public/css/song.css" />
</head>

<body>
    <header class="clear">
        <h1>
            <a href="/"></a>
        </h1>
        <div class="header_user">

            <div class="hide user">
                <a href="">{{username}}</a>
                <span> | </span>
                <a href="/logout">退出</a>
            </div>

            <div class="register_login">
                <a href="/login">登录</a>
                <span> | </span>
                <a href="/register">注册</a>
            </div>

        </div>
    </header>

    <div class="main">

        <!-- 热门歌曲 -start -->
        <div class="mod_part">
            <div class="header">
                <h2>XXX - 歌曲列表</h2>
            </div>

            <div class="song_list">
                <ul class="songlist_header">
                    <li class="songlist_number">&nbsp;</li>
                    <li class="songlist_name">歌曲</li>
                    <li class="songlist_album">专辑</li>
                    <li class="songlist_time">时长</li>
                </ul>
                <ul class="songlist_list">

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="songlist_number">1</div>
                        <div class="songlist_name">
                            <a href="">{{song.name}}</a>

                            <div class="tools">
                                <i class="tools_item tools_play"></i>
                                <i class="tools_item tools_add"></i>
                                <i class="tools_item tools_down"></i>
                                <i class="tools_item tools_share"></i>
                            </div>
                        </div>
                        <div class="songlist_album">
                            <a href="">光年之外</a>
                        </div>
                        <div class="songlist_time">
                            <span>{{song.interval}}</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 热门歌曲 -end -->

       

        <!-- 评论列表 - start -->
        <div class="pages">

            <a href="/{{page-1}}" class="prev"> &lt; </a>

            <a href="/{{n+1}}" class="current">
                <strong>1</strong>
            </a>
            <a href="/{{n+1}}">2</a>
            <a href="/{{n+1}}">3</a>
            <a href="/{{n+1}}">4</a>

            <a href="/{{page+1}}" class="next"> &gt; </a>

        </div>
        <!-- 评论列表 -end -->

    </div>

    <footer>
        <div class="footer_copyright">

            <p>
                <a href="#">关于我们</a> |
                <a href="#">About Us</a> |
                <a href="#">服务条款</a> |
                <a href="#">用户服务协议</a> |
                <a href="#">隐私政策</a> |
                <a href="#">权利声明</a> |
                <a href="#">广告服务</a>
            </p>

            <p>
                Copyright &copy; 0000 - 2019 Music. <a href="#">All Rights Reserved.</a>
            </p>
            <p>
                xxxx <a href="#">版权所有</a> <a href="#">腾讯网络文化经营许可证</a>
            </p>
        </div>
    </footer>
</body>

</html>